form {
  font-size: $font-form-size-base;
  color: $white;

  .form-control {
    font-size: $font-form-size-md;
  }

  .form-label {

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  .additional-label {
    color: $color-bravo;
    font-family: $font-family-additional-label;
    font-size: $font-form-size-sm;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .pin-form-control {
    display: inline-block;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
  }
}