form {
  font-size: $font-form-size-base;
  color: $white;

  input {
    font-size: $font-form-size-md;
  }

  label {

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  span {
    color: $color-bravo;
    font-family: $font-family-additional-label;
    font-size: $font-form-size-sm;
  }

  input[type='password'] {
    display: inline-block;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
  }
}

form fieldset {
  padding: $grid-gutter-width/3 0;
}