<div class='editor-container'>
  <div class='draggable-el-container'>
    {{#ui-draggable appendTo='.droppable-el' revert='invalid' helper='clone' class='draggable-el' }}
        <div style="z-index: 1; top: 166px; left: 163px; width: 74px; height: 70px; color: rgb(255, 255, 255); border: none; text-align: center; font-size: 20px; line-height: 70px; background: rgb(194, 194, 194);">text</div>
    {{/ui-draggable}}
  </div>

  <div class='droppable-el-container'>
    {{#ui-droppable onDrop='dropped' class='droppable-el'}}
      {{#each mockup.json_elements.elements as |e|}}
        {{#editor.new-element e=e notifyDragged='notifyDragged' notifyResize='notifyResize'  click='echo'}}

        {{/editor.new-element}}
      {{/each}}
    {{/ui-droppable}}
  </div>
</div>