@font-face {
  font-family: 'novecentosans_widelight';
  src: font-url('novecentosans_widelight/Novecentosanswide-Light-webfont.eot');
  src: font-url('novecentosans_widelight/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('novecentosans_widelight/Novecentosanswide-Light-webfont.woff2') format('woff2'),
  font-url('novecentosans_widelight/Novecentosanswide-Light-webfont.woff') format('woff'),
  font-url('novecentosans_widelight/Novecentosanswide-Light-webfont.ttf') format('truetype'),
  font-url('novecentosans_widelight/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight') format('svg');
  font-weight: normal;
  font-style: normal;

}
