<h3>Incoming Invitation</h3>
{{#if invitation.errors }}
  {{#each invitation.errors as |error|}}
    {{error.message}}
  {{/each}}
{{/if}}

{{#each invitations as |invitation|}}
  {{invitation.project_name}}
  <button {{action 'accept' invitation}} class='accept-button'>Accept</button>
  <button {{action 'refuse' invitation}} class='refuse-button'>Refuse</button>
  <br>
{{/each}}