<div class='app-card-image-container'>
  <div class='user-image'>{{invitation.recipient.firstLetter}}</div>
</div>

<div class='app-card-name'>{{invitation.recipient_name}}</div>

{{#if canCancel}}
  <div class='app-card-menu'>
    <button class='btn btn-icon btn-delete' {{action 'cancelInvitation' invitation}}>
      <i class='fa fa-times'></i>
    </button>
  </div>
{{/if}}