<form {{action 'save' project on='submit'}}>
  {{#if success}}
    {{success}}
  {{/if}}

  {{#if project.errors }}
    {{#each project.errors as |error|}}
      {{error.message}}
    {{/each}}
  {{/if}}

  <fieldset class="form-group">
    <label for="projectName">Project name</label>
    {{ input type="project-name" class="form-control" id="projectName" placeholder="Name" value=project.name }}
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>