{{#link-to 'protected.projects.detail' project.id}}
  <div class='app-card-image-container hidden-sm-down'>
    {{#unless project.image_url}}
      <div class='blank-state image image-cover'>
      </div>
    {{else}}
      <img class='image' src='{{project.image_url}}'/>
    {{/unless}}
    <div class='plaster plaster-top-right'></div>
    <div class='plaster plaster-top-left'></div>
    <div class='plaster plaster-bottom-right'></div>
    <div class='plaster plaster-bottom-left'></div>
  </div>
  <div class='app-card-name'>
    project {{project.name}}
  </div>
{{/link-to}}

{{#if canDelete}}
  <a class='app-card-menu'>
    <button type='button' class='btn btn-icon btn-delete' {{action 'deleteProject' project}}>
      <i class='fa fa-times'></i>
    </button>
  </a>
{{/if}}