.layout-form {
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(md) {
    display: block;
  }

  body {

    @include media-breakpoint-up(md) {
      height: inherit;
      display: block;
    }
  }

  // Ember root element
  body > .ember-view {
    @include media-breakpoint-up(md) {
      height: 100%;
      width: 100%;
      display: table;
    }
  }

  .navbar-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    .app-navbar .app-name{

      @include media-breakpoint-up(md) {
        text-align: center;
      }
    }
  }
}

.layout-form main {
  padding: 0;

  @include media-breakpoint-up(md) {
    vertical-align: middle;
    display: table-cell;
  }
}