{{#if session.isAuthenticated}}

  <div class='navbar-container'>
    {{partial 'shared/main-header'}}
  </div>

  <div class="main-container">
    {{outlet 'main'}}
  </div>

{{else}}

  <main class='container'>
    {{outlet}}
  </main>

{{/if}}