<div class="alert alert-{{type}}">
  <button type="button" class="btn btn-close close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"><i class="fa fa-times"></i></span>
    <span class="sr-only">Close</span>
  </button>
  <div class="message">{{message}}</div>
</div>