<div class="user-avatar">
  <span class="user-initial">{{user.firstLetter}}</span>
</div>
<div class="user-info">
  {{user.username}}
</div>
<div class="menu-caret">
  <i class="fa fa-caret-down"></i>
</div>