<div class='project-list-container'>
  {{#link-to 'protected.projects.new' tagName='button' class='btn btn-secondary-outline btn-outline'}}
    <div class='btn-icon'>
      <span class='fa fa-plus'></span>
    </div>
    <div class='btn-text'> Create Project</div>
  {{/link-to}}

  {{projects.project-list projects=model.projects queryFilter='applyQueryFilter' searchProject='applySearchProject'}}
</div>

<div class='incoming-invitation-list-container'>
  <ul class='incoming-invitation-list list-unstyled'>
    {{#each model.invitations as |i|}}
      {{invitations.invitation-item invitation=i afterAccepted='afterAccepted' afterRefused='afterRefused'}}
    {{/each}}
  </ul>
</div>