.app-navbar {
  display: table;
  position: fixed;
  width: 100%;
  padding: 0.625rem 1rem;
  background: $color-bravo;

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  .app-name {
    width: auto;
    padding: 0;

    .navbar-brand {
      font-family: $font-family-navbar-brand;
      font-size: $font-size-navbar-brand;
      float: none;
    }
  }

  .user-navigation {
    width: auto;

    .logout-navigation {
      @include pull-right();
    }
  }

  @include media-breakpoint-up(md) {
    position: static;
  }
}