.project-container {

  .btn-create {
    border: 0;
    padding: .5rem;
    display: table;
    table-layout: fixed;

    > div {
      display: table-cell;
      vertical-align: middle;
    }

    .btn-icon {
      padding-right: $grid-gutter-width/3;
    }

    .btn-icon span {
      width: 2rem;
      height: 2rem;
      display: block;
      line-height: 2.2em;
      color: #fff;
      overflow: hidden;
      background: $color-bravo;
      @include border-radius(50%);
    }

    .btn-text {
      color: $white;
      font-size: 1.5em;
    }
  }
}