.auth-form-container {
  $form-size-md: 45em;

  width: 100%;
  margin: 0 auto;
  padding: ($navbar-height + $grid-gutter-width) $grid-gutter-width;

  @include media-breakpoint-up(md) {
    max-width: $form-size-md;
  }

  .form-link {
    padding-top: $grid-gutter-width/3;

    > a {
      color: $color-bravo;

      &:hover {
        border-bottom: 1px solid $color-bravo;
      }
    }
  }

  .additional-label {

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .btn-login, .btn-signup {
    padding: .375rem 1rem;
    @include pull-right();
  }
}