.editor-container {
  position: relative;
  width: 100%;
  height: 100%;

  .editor-menu-container {
    position: fixed;
    width: 95.5%;
    top: 5rem;
    height: $navbar-height;
  }

  .editor-menu {
    width: 100%;
    padding: $grid-gutter-width/3 1rem;
    background-color: $white;
    @include border-radius(.75rem);
  }

  .editor-menu-tools {

    .btn-icon {
      @include make-col();
      padding: 0 .25rem;
    }

    .btn-icon i {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25em;
      @include border-radius(.75rem);
    }
  }

  .editor-mockup-name {
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    line-height: 2em;
  }

  .editor-canvas-container {
    padding-top: $navbar-height + 1.25rem;
    position: fixed;
    width: 100%;

    .editor-sidebar-wrapper {
      position: fixed;
      width: 12.5rem;
      overflow-y: auto;
      overflow-x: hidden;
      height: 75%;
    }

    .editor-canvas-wrapper {
      position: fixed;
      left: 15rem;
      right: 0;
      overflow: auto;
      background-color: $white;
      width: 79%;
      height: 75%;

      .droppable-el {
        margin: $grid-gutter-width;
        display: inline-block;
      }
    }

    .html-div {
      background-color: $color-light-gray;
    }
  }

  .draggable-el-container {

    .ui-draggable {
      cursor: pointer;
    }

  }

  .new-draggable-el {
    cursor: pointer;
    position: absolute;
    border: 1px solid black;
  }

  //.droppable-el-container {
  //
  //  .droppable-el {
  //    position: relative;
  //    border: 1px solid black;
  //    resize: both;
  //    overflow: auto;
  //    z-index: 1;
  //  }
  //}
}