.editor-stencil {
  width: 100%;

  .editor-card {
    width: 100%;
    height: 14rem;
    background-color: #FFFFFF;
    border: 1px solid #000;
    margin-bottom: 5px;
    @include border-radius(.75rem);

    .draggable-el-container{
      position: relative;
      width: 100%;
      height: inherit;
      top: 50%;
      padding: 15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .component-clone{
        margin-top: 20%;
      }
    }

  }
}