.icon {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2.2em;
  color: $white;
  @include border-radius(50%);
}

.icon-plus {
  background: $color-charlie;
}

.icon-minus {
  background: red;
}