.member-list {

  .btn-icon {
    padding: 0;
  }

  .app-card {
    position: relative;

    @include media-breakpoint-down(sm) {
      display: table;
      table-layout: fixed;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .app-card-image-container {

      @include media-breakpoint-down(sm) {
        padding: 0;
        width: 20%;
        text-align: left;
      }
    }

    .app-card-name {

      @include media-breakpoint-down(sm) {
        width: 60%;
        text-align: left;
      }
    }
  }
}

.member-image {
  text-transform: uppercase;
  width: 2rem;
  height: 2rem;
  display: block;
  line-height: 2em;
  text-align: center;
  font-size: .85em;
  color: $white;
  overflow: hidden;
  @include border-radius(50%);
  background: $color-bravo;

  @include media-breakpoint-up(md) {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    font-size: 5em;
    line-height: 1.5;
  }
}

.member-menu {
  width: 20%;
  text-align: right;

  @include media-breakpoint-up(md) {
    position: absolute;
    top: -5%;
    right: -5%;
  }
}
