.invitation-list {

  .btn-icon {
    padding: 0;
  }

  .filter-group {

    @include media-breakpoint-up(md) {
      @include pull-left();
    }
  }

  .legend-header {
    padding-bottom: $grid-gutter-width/2;
    width: 100%;
  }

  .app-card {
    position: relative;

    @include media-breakpoint-down(sm) {
      display: table;
      table-layout: fixed;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .app-card-image-container {

      @include media-breakpoint-down(sm) {
        padding: 0;
        width: 20%;
        text-align: left;
      }
    }
  }
}

.invitation-menu {
  width: 20%;
  text-align: right;

  @include media-breakpoint-up(md) {
    position: absolute;
    top: -5%;
    right: -5%;
  }
}