{{#link-to 'protected.projects.detail.mockups.detail' mockup.id}}
  <div class='app-card-image-container hidden-sm-down'>
    {{#unless mockup.raw_image.image_url}}
      <div class='blank-state image'>
        <div class='content-container'>
          <p>Insert cover photo</p>
        </div>
      </div>
    {{else}}
      <img class='image' src='{{mockup.raw_image.image_url}}'/>
    {{/unless}}
    <div class='plaster plaster-top-right'></div>
    <div class='plaster plaster-top-left'></div>
    <div class='plaster plaster-bottom-right'></div>
    <div class='plaster plaster-bottom-left'></div>
  </div>
  <div class='app-card-name'>
    Mockup {{mockup.name}}
  </div>
{{/link-to}}

<div class='in-progress-tab' hidden>
  <span>In Progress..</span>
</div>