// Fonts
$font-family-sans-serif: 'novecentosans_widebold';
$font-family-navbar-brand: 'gooddog';
$font-family-additional-label: 'novecentosans_widelight';
$font-size-navbar-brand: 1.5em;

// Colors
$black: #000;
$white: #fff;

// Blueberry Theme
$color-alpha: #1a2f39; // Dark Blue
$color-bravo: #6f9fcd; // Light Blue
$color-charlie: #9aba36; // Light Green
$color-echo: #4d5719; // Dark Green

$color-light-gray: #dcdcdc;
$color-dark-gray: #5c5c5c;

// Overide Brand Color
$brand-primary: $color-charlie;

// Button
$btn-secondary-border: $color-bravo;

// Navbar
$navbar-height: 3.75rem;
$navbar-border-radius: 0;

// Links
$link-hover-decoration: none;
$link-color: $color-alpha;

// Form
$font-form-size-base: 1.25em;
$font-form-size-md: 1em;
$font-form-size-sm: 0.75em;
$input-color: $black;

// Global
$border-radius-base: 0.5rem;

// Custom Components
$user-card-avatar-width: 2.625rem;
$user-card-avatar-height: 2rem;