<div class='members-list-container form-group'>
  {{members.members-form project=model}}
</div>

<div class='invitation-list-container form-group'>
  {{invitations.invitation-form invitations=model.invitations project=model afterCreateInvitation='afterCreateInvitation'}}
</div>